.Button--lvl-primary {
    background-color: #8A00EE;
    margin-top: 10%;
}

.Checkbox__container {
    width: 20px;
}

.tr {
    align-content: center;
}

.ta {
    text-align: center;
}

.creatEvent {
    display: grid;
    grid-template-columns: auto auto;
}